.footer {
  margin-top: 5rem;
  border-top: 1px solid var(--line);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-top: 2.5rem;
  color: var(--sea-ink-soft);
}

.socialLink {
  border-radius: 0.75rem;
  padding: 0.5rem;
  color: var(--sea-ink-soft);
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLink:hover {
  background-color: var(--link-bg-hover);
  color: var(--sea-ink);
}
